/* CONFIGURACIÓN GENERAL */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff0f6;
  text-align: center;
  color: #6b4055;
}

/* MENÚ */

nav {
  background-color: white;
  padding: 18px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

nav a {
  color: #d85b91;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #a83f6d;
}

/* ENCABEZADO */

header {
  padding: 60px 20px;
}

h1 {
  font-size: 55px;
  margin-bottom: 15px;
  color: #d85b91;
}

header p {
  font-size: 22px;
}

/* CATEGORÍAS */

main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  padding: 20px;
  flex-wrap: wrap;
}

main section {
  background-color: white;
  width: 250px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #d85b91;
  font-size: 28px;
}

main p {
  line-height: 1.6;
}

/* BOTONES */

button {
  background-color: #d85b91;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #b94778;
}

/* SOBRE NOSOTROS */

.about {
  background-color: white;
  margin: 50px auto;
  padding: 40px;
  max-width: 750px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.about p {
  font-size: 17px;
  line-height: 1.7;
}

/* CONTACTO */

.contact {
  background-color: white;
  margin: 50px auto;
  padding: 40px;
  max-width: 750px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* WHATSAPP */

.whatsapp {
  display: inline-block;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 25px;
  font-weight: bold;
}

.whatsapp:hover {
  opacity: 0.85;
}

/* PIE DE PÁGINA */

footer {
  background-color: #d85b91;
  color: white;
  padding: 25px;
  margin-top: 50px;
}

footer p {
  margin: 8px;
}

/* ADAPTACIÓN PARA CELULAR */

@media (max-width: 600px) {

  nav a {
    display: inline-block;
    margin: 7px;
  }

  h1 {
    font-size: 45px;
  }

  header p {
    font-size: 19px;
  }

  main section {
    width: 80%;
  }

}
